@charset "UTF-8";
@font-face {
    font-family: droid;
    src: url(fontes/idroid.otf)
    format('opentype');
    font-weight: normal;
}
*{
    margin: 0px;
}
body{
    background-color: #84E1AD;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

header{
    margin: auto;
    text-align: center;
    padding: 7px;
    color: white;
    background-image: linear-gradient(to top, #195A36,#3cd782);
}
header > nav{
    text-align: left;
    padding: 10px;
    font-weight: 570;
}
a.header{
    color: white;
    text-decoration: none;
    margin-right: 15px;
    padding: 10px;
}
a.header:hover{
    background-color: #195A36;
}
a{
    color: #195A36;
}
a.header::after{
    content: none;
}
a::after{
    content: '🔗';
}
main{
    background-color: white;
    margin: auto;
    text-align: center;
    max-width: 1000px;
    min-width: 320px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;

}
h1{
    padding-top: 8px;
}
h1,h2{
    font-family: droid, arial, sans-serif;
    color: #1A5C38;
}
h2{
    background-image: linear-gradient(to left, white, #3cd782);
}
h1#principal{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}
section > p{
    text-indent: 25px;
    text-align: justify;
}
p{
    margin: 9px 8px 9px 8px;
    line-height: 1.4em;
}
picture > img{
    margin: auto;
}
section > iframe{
    margin: auto;
}
section > h3{
    background-color: #2FA866;
    padding: 10px;
    text-align: left;
    color: white;
}
section.seclist{
    background-color: #C5EBD6;
    margin: auto;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.438);
    border-radius: 10px 10px 0px 0px;
}
h3{
    border-radius: 10px 10px 0px 0px;
}
ul{
    list-style-type: "🔗\00a0";
    list-style-position: inside;
    columns: 2;
    text-decoration: underline;
}
li{
    text-align: left;

}
p.final{
    margin-top: 10px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    background-color: #ffffff;
}
footer{
    text-align: center;
    background-color: #1A5C38;
    color: #3cd782;
    padding: 3px;
}
div.video{
    background-color: #195A36;
    margin:0px 0px 30px 00px;
    padding:20px;
    padding-bottom: 57.6%;
    position: relative;

}
div.video > iframe{
    position: absolute;
    top: 2.5%;
    left: 2.5%;
    width: 95%;
    height: 95%;


}
